APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8080

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=knowledge_atlas
DATABASE_USER=knowledge_atlas
DATABASE_PASSWORD=change_me

FRONTEND_URL=http://localhost:5173
